<div class="password-container">
  <app-single-input
    *ngIf="!isLogged"
    [label]="'Password'"
    [control]="passwordControl"
    [type]="'password'"
  ></app-single-input>
</div>
<div class="container" *ngIf="form && secondForm && thirdForm && isLogged">
  <mat-tab-group>
    <mat-tab label="First Section">
      <div class="box">
        <form formGroupname="form">
          <app-single-autocomplete-input 
            [label]="'ParentID'" 
            [control]="form.get('parentID')" 
            [options]="testList" 
            [class]="'mb-2'"
            [placeholder]="'parentID'"
            [style]="'width: 100%'">
          </app-single-autocomplete-input>
          <app-single-input
            [label]="'ID'"
            [control]="this.form.get('id')"
            [type]="'number'"
          ></app-single-input>
          <app-single-select-input
            [label]="'ParentID'"
            [control]="this.form.get('parentID')"
            [list]="parentIDList">
          </app-single-select-input>
          <app-single-input
            [label]="'Name'"
            [control]="this.form.get('name')"
            [type]="'text'"
          ></app-single-input>
          <app-single-select-input
            [label]="'Is Container'"
            [control]="this.form.get('isContainer')"
            [list]="simpleNumberList">
          </app-single-select-input>
          <app-single-select-input
            [label]="'Is MovableObject'"
            [control]="this.form.get('isMovableObject')"
            [list]="simpleNumberList">
          </app-single-select-input>
          <app-single-select-input
            [label]="'Is Unmovableobject'"
            [control]="this.form.get('isUnmovableobject')"
            [list]="simpleNumberList">
          </app-single-select-input>
          <app-single-select-input
            [label]="'Is Tool'"
            [control]="this.form.get('isTool')"
            [list]="simpleNumberList">
          </app-single-select-input>
          <app-single-select-input
            [label]="'Is Device'"
            [control]="this.form.get('isDevice')"
            [list]="simpleNumberList">
          </app-single-select-input>
          <app-single-select-input
            [label]="'Is Door'"
            [control]="this.form.get('isDoor')"
            [list]="simpleNumberList">
          </app-single-select-input>
          <app-single-select-input
            [label]="'Is Premium'"
            [control]="this.form.get('isPremium')"
            [list]="simpleNumberList">
          </app-single-select-input>
          <app-single-input
            [label]="'Max ContSize'"
            [control]="this.form.get('maxContSize')"
            [type]="'number'"
          ></app-single-input>
          <app-single-input
            [label]="'Max ContSize'"
            [control]="this.form.get('maxContSize')"
            [type]="'number'"
          ></app-single-input>
          <app-single-input
            [label]="'Length'"
            [control]="this.form.get('length')"
            [type]="'number'"
          ></app-single-input>
          <app-single-input
            [label]="'Max StackSize'"
            [control]="this.form.get('maxStackSize')"
            [type]="'number'"
          ></app-single-input>
          <app-single-input
            [label]="'UnitWeight'"
            [control]="this.form.get('unitWeight')"
            [type]="'number'"
          ></app-single-input>
          <app-single-input
            [label]="'Background Image'"
            [control]="this.form.get('backgndImage')"
            [type]="'text'"
          ></app-single-input>
          <app-single-input
            [label]="'Face Image'"
            [control]="this.form.get('faceImage')"
            [type]="'text'"
          ></app-single-input>
          <app-single-input
            [label]="'Description'"
            [control]="this.form.get('description')"
            [type]="'text'"
          ></app-single-input>
        </form>
        <div class="col" *ngIf="isMobile">
          <p>
            &lt;row&gt;
          </p>
          <div class="item" *ngFor="let field of firstSectionFields">
            <p>
              <code>&lt;{{ field.label }}&gt;{{ form.get(field.name)?.value }}&lt;/{{ field.label }}&gt;</code>
            </p>
          </div>
          <p>
            &lt;/row&gt;
          </p>
      </div>
      </div>
      <div class="buttons">
        <button id="basic" type="button" mat-flat-button color="primary" (click)="saveToFile(1, form)" [disabled]="">
          Download
        </button>
        <button id="basic" type="button" mat-flat-button (click)="resetForm(1)">
          Reset form
        </button>
        <button id="copy" type="button" mat-raised-button (click)="copyFirstFormValues(this.form)">
          Copy row
        </button>
      </div>
      <div>
        <h3>
          INSERT INTO `objects_types` (`ID`, `ParentID`, `Name`, `IsContainer`, `IsMovableObject`, `IsUnmovableobject`, `IsTool`, `IsDevice`, `IsDoor`, `IsPremium`, `MaxContSize`, `Length`, `MaxStackSize`, `UnitWeight`, `BackgndImage`, `WorkAreaTop`, `WorkAreaLeft`, `WorkAreaWidth`, `WorkAreaHeight`, `BtnCloseTop`, `BtnCloseLeft`, `FaceImage`, `Description`, `BasePrice`, `OwnerTimeout`, `AllowExportFromRed`, `AllowExportFromGreen`)
          VALUES ({{ this.form.get('id')?.value }}, {{ this.form.get('parentID')?.value }}, {{ this.form.get('name')?.value }}, {{ this.form.get('isContainer')?.value }}, {{ this.form.get('isMovableObject')?.value }}, {{ this.form.get('isUnmovableobject')?.value }}, {{ this.form.get('isTool')?.value }}, {{ this.form.get('isDevice')?.value }}, {{ this.form.get('isDoor')?.value }}, {{ this.form.get('isPremium')?.value }}, {{ this.form.get('maxContSize')?.value }}, {{ this.form.get('length')?.value }}, {{ this.form.get('maxStackSize')?.value }}, {{ this.form.get('unitWeight')?.value }}, {{ this.form.get('backgndImage')?.value }}, {{ this.form.get('faceImage')?.value }}, {{ this.form.get('description')?.value }})
        </h3>
      </div>
    </mat-tab>
    <mat-tab label="Second Section">
      <div class="box">
        <form formGroupname="secondForm">
          <app-single-input
            [label]="'ID'"
            [control]="this.secondForm.get('id')"
            [type]="'number'"
          ></app-single-input>
          <app-single-input
            [label]="'Name'"
            [control]="this.secondForm.get('name')"
            [type]="'text'"
          ></app-single-input>
          <app-single-input
            [label]="'Description'"
            [control]="this.secondForm.get('description')"
            [type]="'text'"
          ></app-single-input>
          <app-single-select-input
            [label]="'Starting Tools ID'"
            [control]="this.secondForm.get('startingToolsID')"
            [list]="simpleNumberList">
          </app-single-select-input>
          <app-single-select-input
            [label]="'Skill Type ID'"
            [control]="this.secondForm.get('skillTypeID')"
            [list]="simpleNumberList">
          </app-single-select-input>
          <app-single-select-input
            [label]="'Skill Lvl'"
            [control]="this.secondForm.get('skillLvl')"
            [list]="skillLevelList">
          </app-single-select-input>
          <app-single-input
            [label]="'Result Object Type ID'"
            [control]="this.secondForm.get('resultObjectTypeID')"
            [type]="'number'"
          ></app-single-input>
          <app-single-input
            [label]="'Skill Depends'"
            [control]="this.secondForm.get('skillDepends')"
            [type]="'text'"
          ></app-single-input>
          <app-single-input
            [label]="'Quantity'"
            [control]="this.secondForm.get('quantity')"
            [type]="'text'"
          ></app-single-input>
          <app-single-select-input
            [label]="'Autorepeat'"
            [control]="this.secondForm.get('autorepeat')"
            [list]="simpleNumberList">
          </app-single-select-input>
          <app-single-select-input
            [label]="'Is Blueprint'"
            [control]="this.secondForm.get('isBlueprint')"
            [list]="simpleNumberList">
          </app-single-select-input>
          <app-single-input
            [label]="'Image Path'"
            [control]="this.secondForm.get('imagePath')"
            [type]="'text'"
          ></app-single-input>
        </form>
        <div class="col" *ngIf="isMobile">
          <p>
            &lt;row&gt;
          </p>
          <div class="item" *ngFor="let field of secondSectionFields">
            <p>
              <code>&lt;{{ field.label }}&gt;{{ secondForm.get(field.name)?.value }}&lt;/{{ field.label }}&gt;</code>
            </p>
          </div>
          <p>
            &lt;/row&gt;
          </p>
      </div>
      </div>
      <div class="buttons">
        <button id="basic" type="button" mat-flat-button color="primary" (click)="saveToFile(2, secondForm)" [disabled]="">
          Download
        </button>
        <button id="basic" type="button" mat-flat-button (click)="resetForm(2)">
          Reset form
        </button>
        <button id="copy" type="button" mat-flat-button (click)="copySecondFormValues(this.secondForm)">
          Copy row
        </button>
      </div>
      <div>
        <h3>
          INSERT INTO `recipe` (`ID`, `Name`, `Description`, `StartingToolsID`, `SkillTypeID`, `SkillLvl`, `ResultObjectTypeID`, `SkillDepends`, `Quantity`, `Autorepeat`, `IsBlueprint`, `ImagePath`) 
          VALUES ({{ this.secondForm.get('id')?.value }}, {{ this.secondForm.get('name')?.value }}, {{ this.secondForm.get('description')?.value }}, {{ this.secondForm.get('startingToolsID')?.value }}, {{ this.secondForm.get('skillTypeID')?.value }}, {{ this.secondForm.get('skillLvl')?.value }}, {{ this.secondForm.get('resultObjectTypeID')?.value }}, {{ this.secondForm.get('skillDepends')?.value }}, {{ this.secondForm.get('quantity')?.value }}, {{ this.secondForm.get('autorepeat')?.value }}, {{ this.secondForm.get('isBlueprint')?.value }}, {{ this.secondForm.get('imagePath')?.value }})										
        </h3>
      </div>
    </mat-tab>
    <mat-tab label="Third Section">
      <div [style]="'padding-top: 20px'">
        <button type="button" class="add-button" mat-flat-button color="warn" (click)="addNewForm()">Add form</button>
      </div>
      <div class="box">
        <form [formGroup]="thirdForm" class="third-form">
          <div formArrayName="thirdFormContainer" class="third-form-array">
            <div *ngFor="let group of thirdFormContainer.controls; let i = index; let first = first" [formGroupName]="i" class="group" [ngStyle]="first ? {} : {'padding-top': '20px'}">
              <h2>Form {{ i + 1 }}</h2>
              <div class="box">
                <app-single-input
                  [label]="'ID'"
                  [control]="group.get('id')"
                  [type]="'text'"
                ></app-single-input>
                <app-single-input
                  [label]="'Recipe ID'"
                  [control]="group.get('recipeID')"
                  [type]="'text'"
                ></app-single-input>
                <app-single-select-input
                  [label]="'Material Object Type ID'"
                  [control]="group.get('materialObjectTypeID')"
                  [list]="simpleNumberList">
                </app-single-select-input>
                <app-single-input
                  [label]="'Quality'"
                  [control]="group.get('quality')"
                  [type]="'text'"
                ></app-single-input>
                <app-single-input
                  [label]="'Influence'"
                  [control]="group.get('influence')"
                  [type]="'text'"
                ></app-single-input>
                <app-single-input
                  [label]="'Quantity'"
                  [control]="group.get('quantity')"
                  [type]="'text'"
                ></app-single-input>
                <app-single-select-input
                  [label]="'Is Region Item Required'"
                  [control]="group.get('isRegionItemRequired')"
                  [list]="simpleNumberList">
                </app-single-select-input>
              </div>
              <div class="col" *ngIf="isMobile">
                <p>
                  &lt;row&gt;
                </p>
                <div class="item" *ngFor="let field of thirdSectionFields">
                  <p>
                    <code>&lt;{{ field.label }}&gt;{{ group.get(field.name)?.value }}&lt;/{{ field.label }}&gt;</code>
                  </p>
                </div>
                <p>
                  &lt;/row&gt;
                </p>
              </div>
              <div class="buttons">
                <button id="basic" type="button" mat-flat-button color="primary" (click)="saveToFile(3, thirdForm)" *ngIf="false">
                  Download
                </button>
                <button id="basic" type="button" mat-flat-button (click)="resetSingleForm(i)">
                  Reset form
                </button>
                <button id="copy" type="button" mat-flat-button (click)="copyThirdFormValues(i)">
                  Copy row
                </button>
                <button type="button" mat-flat-button color="accent" (click)="removeForm(i)" *ngIf="!first">Remove form</button>
              </div>
              <div>
                <h3>
                  INSERT INTO `recipe_requirement` (`ID`, `RecipeID`, `MaterialObjectTypeID`, `Quality`, `Influence`, `Quantity`, `IsRegionItemRequired`) 
                  VALUES								
                  ({{ group.get('id')?.value }}, {{ group.get('recipeID')?.value }}, {{ group.get('materialObjectTypeID')?.value }}, {{ group.get('quality')?.value }}, {{ group.get('influence')?.value }}, {{ group.get('quantity')?.value }}, {{ group.get('isRegionItemRequired')?.value }})													
                </h3>
              </div>
            </div>
          </div>
        </form>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>